<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head> -->
<%layout("/layouts/boilerplate")%>

<style>
  /* Container for filters */
  #filters-container {
  display: flex;
  align-items: center;
  position: relative;
}
.tax-info{
display:none;
}

/* Wrapper to hold filters and enable sliding */
#filters-wrapper {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

#filters {
  display: flex;
  align-items: center;
  gap: 0rem;
  transition: transform 1s ease-in-out;
  white-space: nowrap;
  overflow-x: auto; /* Enables horizontal scrolling */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
  -ms-overflow-style: none; /* Hides scrollbar for IE/Edge */
}

/* Completely hide scrollbar in WebKit browsers (Chrome, Safari) */
#filters::-webkit-scrollbar {
  display: none;
}

/* Filters */
.filter {
  text-align: center;
  opacity: 0.7;
  padding: 0.5rem;
  min-width: 90px;
  flex-shrink: 0;
  margin-top: 1.25rem;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  opacity: 0.9;
  font-size: 0.8rem;
}

/* Tax toggle button */
.tax-toggle {
  /* margin-left: 2rem; */
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  height: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  box-shadow: -50px 0px 30px rgba(255, 255, 255, 1);

}



</style>

<div id="filters-container">

  <div id="filters-wrapper">
    <div id="filters">
      <div class="filter"><div><i class="fa-solid fa-fire"></i></div><p>Trending</p></div>
      <div class="filter"><div><i class="fa-solid fa-bed"></i></div><p>Rooms</p></div>
      <div class="filter"><div><i class="fa-solid fa-mountain-city"></i></div><p>Iconic Cities</p></div>
      <div class="filter"><div><i class="fa-solid fa-mountain-sun"></i></div><p>Mountains</p></div>
      <div class="filter"><div><i class="fa-brands fa-fort-awesome"></i></div><p>Castles</p></div>
      <div class="filter"><div><i class="fa-solid fa-person-swimming"></i></div><p>Amazing Pools</p></div>
      <div class="filter"><div><i class="fa-solid fa-campground"></i></div><p>Camping</p></div>
      <div class="filter"><div><i class="fa-solid fa-cow"></i></div><p>Farms</p></div>
      <div class="filter"><div><i class="fa-regular fa-snowflake"></i></div><p>Arctic</p></div>
      <div class="filter"><div><i class="fa-solid fa-ship"></i></div><p>Boats</p></div>
      <div class="filter"><div><i class="fa-solid fa-landmark-dome"></i></div><p>Domes</p></div>
    </div>
  </div>

  <!-- <button class="scroll-btn scroll-right">&gt;</button> -->

  <div class="tax-toggle" >
    <div class="form-check-reverse form-switch">
      <input class="form-check-input taxP" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Incl GST%</label>
    </div>
  </div>
</div>

     <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        
    <%for(let list of allListing){%>
        <a href="/listings/<%=list._id%>" class="listing-link">
    <div class="listing-card card col" >
        <img style="height: 20rem;"src="<%=list.image.url%>" class="card-img-top" alt="<%=list.image.filename%>">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"><b><%=list.title%></B>
        <br>
        &#x20B9;<%=list.price.toLocaleString("en-IN")%>/Night <i class="tax-info">&nbsp; &nbsp;+18%GST</i></p>
        </div>
      </div>   
    </a>
      <%}%> 

    </div>
    <script>
  let taxs = document.getElementById("flexSwitchCheckDefault");
  taxs.addEventListener("click",()=>{
console.log("hello");
    let taxI = document.getElementsByClassName("tax-info")
  for(info of taxI){
   if(info.style.display!=="inline"){
    info.style.display = "inline";
   } 
   else{
    info.style.display = "none";
   }
  }
  })
  

</script>
